## Default values for the systemlink-admin Helm chart.
## This is a YAML-formatted file.
## Declare variables to be passed into your templates.

global:
  ## Defines secrets required if containers are hosted on a private image repository.
  ##
  imagePullSecrets: 
  - &imagePullSecrets "niartifacts-secret"
  ## Overrides the default image registry.
  # <ATTENTION> - Use this override if mirroring the SystemLink container registry.
  ##
  imageRegistry: &imageRegistryRef "niedge01.jfrog.io/ni-docker"
  ## Disable secret deployment if you want to manually manage secrets on the cluster.
  ## WARNING: Changing this value from true to false during an upgrade will delete existing secrets.
  # <ATTENTION> - Set to false if you do not want to manage secrets as part of the Helm installation.
  ##
  deploySecrets: true

## Uncomment to disable the installation of Argo Workflows CRDs. Use this option if Argo Workflows
## CRDs are already installed in your cluster as part of another Argo Workflows deployment
# argoworkflowscrds:
#   crds:
#     install: false

## Flink k8s operator configuration.
flinkoperator:
  ## Set to true to enable the deployment of the Flink Operator.
  ## This component is needed if FileIngestion search capabilities are enabled
  ##
  enabled: false
